## ###################################################################
##
## Copyright 2025 NXP
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted provided that the following conditions are met:
##
## o Redistributions of source code must retain the above copyright notice, this list
##   of conditions and the following disclaimer.
##
## o Redistributions in binary form must reproduce the above copyright notice, this
##   list of conditions and the following disclaimer in the documentation and/or
##   other materials provided with the distribution.
##
## o Neither the name of the copyright holder nor the names of its
##   contributors may be used to endorse or promote products derived from this
##   software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
## ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
## WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
## DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
## ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
## (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
## LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
## ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
## SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##
## ###################################################################

# SM configuration data file for MX94 NETCMIX

#==========================================================================#
# Resources                                                                #
#==========================================================================#

M33P_S:             PD_M33S, CLK_M33SYNCSYSTICK, PERF_M33S, CPU_M33S, \
                    DFMT0, MDAC_S0C=0-2, BCTRL_A_IPG_DEBUG=0x20, \
                    BCTRL_W_IPG_DEBUG=0x48, BCTRL_W_IPG_DEBUG_2=0x68

NETC:               PD_NETC, DAISY_ETH4_RX_CLK, DAISY_ETH4_RX_CTL, \
                    DAISY_ETH4_RXD_0, DAISY_ETH4_RXD_1, DAISY_ETH4_RXD_2, \
                    DAISY_ETH4_RXD_3, DAISY_ETH4_TX_CLK, DAISY_NETC_1588MUX_0, \
                    DAISY_NETC_1588MUX_1, DAISY_NETC_1588MUX_2, \
                    DAISY_NETC_1588MUX_3, DAISY_NETC_1588MUX_4, \
                    DAISY_NETC_1588MUX_5, DAISY_NETC_1588MUX_6, \
                    DAISY_NETC_1588MUX_7, DAISY_NETC_1588MUX_8, \
                    DAISY_NETC_1588MUX_9, DAISY_NETC_1588MUX_10, \
                    DAISY_NETC_CMPLX_EMDIO, CLK_ENETREF, CLK_MAC0, \
                    CLK_MAC1, CLK_MAC2, CLK_MAC3, CLK_MAC4, CLK_MAC5

NETC0:              PD_NETC, MBC_E0=0.8-11
NETC1:              PD_NETC, MBC_E0=0.12-15
NETC2:              PD_NETC, MBC_E0=0.16-19
NETC3:              PD_NETC, MBC_E0=0.20-23

NETC_ECAM:          PD_NETC, MBC_E0=1.0-7
NETC_EMDIO0:        PD_NETC, MBC_E0=0.30-31, MBC_E0=0.36
NETC_IERB:          PD_NETC, MBC_E0=0.43-44, MBC_E0=2.10

NETC_LDID0:         PD_NETC, DFMT1, MDAC_E0=0
NETC_LDID1:         PD_NETC, DFMT1, MDAC_E1=0
NETC_LDID2:         PD_NETC, DFMT1, MDAC_E2=0
NETC_LDID3:         PD_NETC, DFMT1, MDAC_E3=0
NETC_LDID4:         PD_NETC, DFMT1, MDAC_E4=0
NETC_LDID5:         PD_NETC, DFMT1, MDAC_E5=0
NETC_LDID6:         PD_NETC, DFMT1, MDAC_E6=0
NETC_LDID7:         PD_NETC, DFMT1, MDAC_E7=0
NETC_LDID8:         PD_NETC, DFMT1, MDAC_E8=0
NETC_LDID9:         PD_NETC, DFMT1, MDAC_E9=0
NETC_LDID10:        PD_NETC, DFMT1, MDAC_E10=0
NETC_LDID11:        PD_NETC, DFMT1, MDAC_E11=0

NETC_SWITCH0:       PD_NETC, MBC_E0=0.0-7
NETC_TIMER0:        PD_NETC, MBC_E0=0.24-25, MBC_E0=0.33, \
                    CLK_ENETTIMER1
NETC_TIMER1:        PD_NETC, MBC_E0=0.26-27, MBC_E0=0.34, \
                    CLK_ENETTIMER2
NETC_TIMER2:        PD_NETC, MBC_E0=0.28-29, MBC_E0=0.35, \
                    CLK_ENETTIMER3
NETC_VSI0:          PD_NETC, MBC_E0=0.37, MBC_E0=0.40
NETC_VSI1:          PD_NETC, MBC_E0=0.38, MBC_E0=0.41
NETC_VSI2:          PD_NETC, MBC_E0=0.39, MBC_E0=0.42
TCU_E:              PD_NETC, MBC_E0=2.0
BLK_CTRL_NETCMIX:   PD_NETC, MBC_E0=2.1
MTR_DCA_E:          PD_NETC, MBC_E0=2.2
TROUT_BASIC_E:      PD_NETC, MBC_E0=2.3
TRDC_E:             PD_NETC, MBC_E0=2.4-5

ECAT:               PD_NETC, MBC_E0=3.0, RST_ECAT_IP_RESETN, \
                    CLK_ECAT, DAISY_ECAT_MDIO, DAISY_ECAT_PROM

# M33_SYNC Peripherals */

TCU_S:              PD_NETC, MBC_S1=3.0
MTR_DCA_S:          PD_NETC, MBC_S1=3.2
TROUT_BASIC_S:      PD_NETC, MBC_S1=3.3
TRDC_S:             PD_NETC, MBC_S1=3.4-5
ERM_E:              PD_NETC, MBC_S1=3.6
EIM_E:              PD_NETC, MBC_S1=3.7
CMU_E:              PD_NETC, MBC_S1=3.8
L_STCU_E:           PD_NETC, MBC_S1=3.9
M33S_TCM_MCM:       PD_NETC, MBC_S1=3.10
OCRAM_S_MCM:        PD_NETC, MBC_S1=3.11
WDOG7:              PD_NETC, MBC_S1=3.14, PERLPI_WDOG7
WDOG8:              PD_NETC, MBC_S1=3.15, PERLPI_WDOG8
FLEXIO3:            PD_NETC, CLK_FLEXIO3, MBC_S1=3.16
FLEXIO4:            PD_NETC, CLK_FLEXIO4, MBC_S1=3.17
MU_E1_A:            PD_NETC, MBC_S1=3.18
MU_E1_B:            PD_NETC, MBC_S1=3.19
MU_E2_A:            PD_NETC, MBC_S1=3.20
MU_E2_B:            PD_NETC, MBC_S1=3.21
MU_E3_A:            PD_NETC, MBC_S1=3.22
MU_E3_B:            PD_NETC, MBC_S1=3.23
MU_E4_A:            PD_NETC, MBC_S1=3.24
MU_E4_B:            PD_NETC, MBC_S1=3.25
M33S_CACHE_CTRL:    PD_NETC, MBC_S1=3.26
M33_S_PCF:          PD_NETC, MBC_S1=3.27
M33_S_PSF:          PD_NETC, MBC_S1=3.28
AXBS_NETC:          PD_NETC, MBC_S1=3.29

#==========================================================================#
#==========================================================================#
# Memories                                                                 #
#==========================================================================#

OCRAM_S1:           PD_NETC, MBC_S1=2, origin=0x20800000, \
                    nblks=64, blksize=8K
OCRAM_S2:           PD_NETC, MBC_S1=1, origin=0x20880000, \
                    nblks=64, blksize=8K
OCRAM_S3:           PD_NETC, MBC_S1=0, origin=0x20900000, \
                    nblks=64, blksize=8K

M33S_TCM_CODE:      PD_NETC, MBC_S0=0, origin=0x209c0000, \
                    nblks=32, blksize=8K
M33S_TCM_SYS:       PD_NETC, MBC_S0=1, origin=0x20A00000, \
                    nblks=32, blksize=8K

#==========================================================================#
# TRDC Init                                                                #
#==========================================================================#

TRDC_CONFIG_E       ndid=16, nmstr=9, nmrc=0, nmbc=1
TRDC_E              did=0-15, perm=0

TRDC_CONFIG_S       ndid=16, nmstr=1, nmrc=0, nmbc=2
TRDC_S              did=0-15, perm=0

